@use "../primitives/colors";

.duration-container {
  border-top: 1px solid colors.$grey-blue-color-2;
  border-bottom: 1px solid colors.$grey-blue-color-2;
  &-hour {
    color: colors.$webel-color;
    margin-left: 8px;
  }
}

input[type="range"] {
  appearance: none;
  border-radius: 4px;
  background-color: transparent;
  width: 100%;
}

input[type="range"]::-webkit-slider-runnable-track {
  position: relative;
  height: 5px;
  border-radius: 4px;
  background-color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  box-sizing: border-box;
  appearance: none;
  position: relative;
  background-color: colors.$white-color;
  border: 10px solid colors.$webel-color;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  top: 50%;
  translate: 0 -50%;
}

input[type="range"]::-moz-range-track {
  position: relative;
  height: 5px;
  background-color: transparent;
  border-radius: 4px;
}

input[type="range"]::-moz-range-thumb {
  box-sizing: border-box;
  appearance: none;
  position: relative;
  background-color: colors.$white-color;
  border: 10px solid colors.$webel-color;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
