@use "../primitives/colors";

.header {
  .button-back {
    width: 36px;
    height: 36px;
    box-shadow: 0px 3px 6px 0px #00000029;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    .fa-arrow-left:before {
      color: colors.$white-color;
      font-size: 16px;
    }
  }
  &-title {
    color: colors.$white-color;
  }
}
