@use "../primitives/colors";

.toggle-hour {
  background-color: colors.$grey-blue-color-2;
  border-radius: 72px;
  height: 44px;
  width: 100%;
  padding: 4px;
  cursor: pointer;
  .toggle-hour-button {
    transition: all 0.3s ease;
    box-sizing: border-box;
  }

  .active {
    box-shadow: 0px 3px 6px 0px #00000029;
    border: 1px solid #f7f7f7;
    background-color: colors.$white-color;
    border-radius: 48px;
  }
}

.flexible-view {
  &-day {
    &-title {
      color: colors.$grey-blue-color-3;
    }
  }
  &-slots {
    gap: 8px;
  }
  &-slot {
    flex: 1;
    height: 70px;
    border-radius: 12px;
    border: 1px solid colors.$grey-color;
    &.active {
      border: 1.5px solid colors.$webel-color;
      background-color: colors.$webel-light-color;
    }
  }
}

.separator {
  z-index: 2;
  margin: 0 24px;
  display: flex;
  align-items: center;
  height: 36px;
}

.selected-row {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.align-end {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.align-start {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.picker-column {
  z-index: 2;
}

.background-selected-row {
  z-index: 1;
  background-color: colors.$grey-blue-color;
  border-radius: 8px;
}

.not-selected-row {
  color: colors.$grey-blue-color-2;
}
