$grey-blue-color: #f9fafb;
$grey-blue-color-2: #ebebec;
$grey-blue-color-3: #636c76;
$white-color: white;
$black-color: #2e2929;
$webel-color: #00bfb5;
$webel-light-color: #e6faf9;
$grey-color: #dddddd;
