.body-regular-14 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.body-medium-16 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.body-medium-18 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.body-medium-12 {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.body-regular-16 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.body-semibold-14 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.body-semibold-16 {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.title-20 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.display-24 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
